# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=

FRONTEND_URL=

SERVER_PORT=

# Database
PGPASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

#Redis
REDIS_HOST=
REDIS_PORT=

MODE="DEV"
RUN_MIGRATIONS=true
SYNCHRONIZE=false

# JWT Tokens
JWT_SECRET=
JWT_EXPIRES_IN=60s

REFRESH_JWT_SECRET=
REFRESH_JWT_EXPIRES_IN=7d

# Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
